@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.tiptap h1 {
    font-family: "Work Sans", "sans-serif" !important;
    font-size: 1.5rem;
    font-weight: bolder;
}

.tiptap h2 {
    font-family: "Work Sans", "sans-serif" !important;
    font-size: 1.2rem;
    font-weight: bolder;
}

.tiptap ul {
    font-size: 1rem;
    font-weight: normal;
    list-style: disc;
    padding-left: 1rem;
}

.tiptap mark {
    border-radius: 10px;
}